### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
build
dist
venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

